@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme('colors.blueNight');
  --background-start: theme('colors.orange');
  --background-end: theme('colors.orangePastel');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 21, 72, 92;
    --background-start-rgb: 243, 99, 55;
    --background-end-rgb: 251, 201, 152;
  }
}

body {
  background-color: rgb(var(--foreground-rgb));
}

.containerMain {
  color: rgb(var(--foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    )
    rgb(var(--background-start));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
